# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
build/
.npm

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

backend/data/
backend/data/q_table.json
